    <id>urn:uuid:{{ app.request.requestUri|md5 }}</id>
    <title type="text">Fabio Cicerchia API - {{ api_name|capitalize }}</title>
    <link href="http://{{ app.request.host }}{{ app.request.requestUri }}" rel="self" />
    <link href="http://{{ app.request.host }}/api.php/api-definition-syntax" rel="describedby" type="plain/txt" />
    <link href="http://{{ app.request.host }}" rel="author" />

    <updated>{{ "now"|date("Y-m-d\\TH:i:s\\Z") }}</updated>
    <author>
        <name>Fabio Cicerchia</name>
        <uri>http://{{ app.request.host }}</uri>
        <email>{{ email }}</email>
    </author>
    <rights>Copyright (c) 2012 - {{ "now"|date("Y") }}, Fabio Cicerchia</rights>
