    <id>urn:uuid:{{ app.request.requestUri|md5 }}</id>
    <title type="text">Fabio Cicerchia API - {{ api_name|capitalize }}</title> <!-- TODO: DYNAMIC VALUE -->
    <link rel="self"
          href="http://{{ app.request.host }}{{ app.request.requestUri }}" />
    <link rel="describedby"
          href="http://{{ app.request.host }}/api.php/api-definition-syntax"
          type="plain/txt" />
    <link rel="author" href="http://{{ app.request.host }}" />

    <updated>{{ "now"|custom_date("Y-m-d\\TH:i:s\\Z") }}</updated>
    <author>
        <name>Fabio Cicerchia</name> <!-- TODO: DYNAMIC VALUE -->
        <uri>http://www.fabiocicerchia.it</uri> <!-- TODO: DYNAMIC VALUE -->
        <email>info@fabiocicerchia.it</email> <!-- TODO: DYNAMIC VALUE -->
    </author>
    <rights>Copyright (c) {{ "now"|custom_date("Y") }}, Fabio Cicerchia</rights> <!-- TODO: DYNAMIC VALUE -->
