<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
<!-- TODO: Sort attribute -->
    {% include '_header.twig' %}

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title type="text">{{ entity.title }}</title>
        <!-- TODO: Refactor Extract -->
        <published>
        {% if entity.date.start is defined %}
            {{ entity.date.start|custom_date("Y-m-d\\TH:i:s\\Z") }}
        {% else %}
            {{ entity.date.end|custom_date("Y-m-d\\TH:i:s\\Z") }}
        {% endif %}
        </published>
        {% if entity.date.end is defined %}
        <updated>
            {{ entity.date.end|custom_date("Y-m-d\\TH:i:s\\Z") }}
        </updated>
        {% endif %}
        <!-- TODO: End Refactor Extract -->

        <content>
            <!-- TODO: Refactor Extract -->
            <company>
                <title type="text">{{ entity.institute.name }}</title>
                {% if entity.institute.url is defined %}
                <link rel="related" href="{{ entity.institute.url }}" />
                {% endif %}
                {% if entity.location is defined %}
                <address>
                    <postalcode>{{ entity.institute.location.postal_code }}</postalcode>
                    <city>{{ entity.institute.location.city }}</city>
                    <country>{{ entity.institute.location.country }}</country>
                </address>
                {% endif %}
            </company>
            <!-- TODO: End Refactor Extract -->

            {% if entity.activities is defined %}
            <activities>
                {% for activity in entity.activities %}
                <activity>{{ activity }}</activity>
                {% endfor %}
            </activities>
            {% endif %}
        </content>
    </entity>
    {% endfor %}
</entities>
