<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://www.w3.org/2005/Atom">
    <id>urn:uuid:{{ main_id }}</id>
    <title type="text">Fabio Cicerchia API - Experience</title>
    <link rel="self" href="http://www.fabiocicerchia.it/api.php/experience" />
    <link rel="describedby" href="http://www.fabiocicerchia.it/api.php/service-expression-syntax" type="plain/txt" />
    <link rel="author" href="http://www.fabiocicerchia.it" />

    <updated>{{ "now"|date("Y-m-d") }}T{{ "now"|date("Y-m-d") }}Z</updated>
    <author>
        <name>Fabio Cicerchia</name>
        <uri>http://www.fabiocicerchia.it</uri>
        <email>info@fabiocicerchia.it</email>
    </author>
    <rights>Copyright (c) {{ "now"|date("Y") }}, Fabio Cicerchia</rights>

    {% for entry in entries %}
    <entry>
        <id>urn:uuid:{{ entry._id }}</id>
        <title>{{ entry.role }}</title>
        <!-- TODO: INSERT THE LINK TAG -->
        <updated>{{ "now"|date("Y-m-d") }}T{{ "now"|date("H:i:s") }}Z</updated>
        <published>{{ entry.date.end }}</published>

        <content type="xhtml">
            <!--h3 itemprop="name" class="summary">{{ entry.role }}</h3-->
            <!--div class="dates">{{ entry.date.start }} {{ entry.date.end }}</div-->
            <div itemtype="http://schema.org/Organization" itemscope="itemscope" class="contact">
                <a title="{{ entry.company.name }}" rel="nofollow" href="{{ entry.company.url }}" target="_blank" itemprop="url" class="url">
                    <span itemprop="name" class="fn">{{ entry.company.name }}</span>
                </a>
                <div itemprop="description">
                    <p>{{ entry.description }}</p> <!-- TODO: ADD TO MONGODB -->
                </div>
                <address itemtype="http://schema.org/PostalAddress" itemscope="itemscope" itemprop="address" class="adr">
                    <span itemprop="postalCode" class="postal-code">{{ entry.company.location.cap }}</span>
                    <span itemprop="addressLocality" class="locality">{{ entry.company.location.city }}</span>
                    <span itemprop="addressCountry" class="country-name">{{ entry.company.location.country }}</span>
                </address>
            </div>
            {% if entry.technologies %}
            <dl class="first adjacent" itemtype="http://schema.org/ItemList" itemscope="itemscope">
                <dt itemprop="name">Technologies</dt>
                {% for technology in entry.technologies|keys %}
                {% if loop.last %}
                <dd class="last" itemprop="itemListElement">{{ technology }}</dd>
                {% else %}
                <dd itemprop="itemListElement">{{ technology }}</dd>
                {% endif %}
                {% endfor %}
            </dl>
            {% endif %}
            {% if entry.tools %}
            <dl class="adjacent" itemtype="http://schema.org/ItemList" itemscope="itemscope">
                <dt itemprop="name">Tools</dt>
                {% for tool in entry.tools|keys %}
                {% if loop.last %}
                <dd class="last" itemprop="itemListElement">{{ tool }}</dd>
                {% else %}
                <dd itemprop="itemListElement">{{ tool }}</dd>
                {% endif %}
                {% endfor %}
            </dl>
            {% endif %}
            {% if entry.methodologies|keys %}
            <dl class="adjacent" itemtype="http://schema.org/ItemList" itemscope="itemscope">
                <dt itemprop="name">Methodologies</dt>
                {% for methodology in entry.methodologies %}
                {% if loop.last %}
                <dd class="last" itemprop="itemListElement">{{ methodology }}</dd>
                {% else %}
                <dd itemprop="itemListElement">{{ methodology }}</dd>
                {% endif %}
                {% endfor %}
            </dl>
            {% endif %}
            {% if entry.techniques %}
            <dl class="adjacent" itemtype="http://schema.org/ItemList" itemscope="itemscope">
                <dt itemprop="name">Techniques</dt>
                {% for technique in entry.techniques|keys %}
                {% if loop.last %}
                <dd class="last" itemprop="itemListElement">{{ technique }}</dd>
                {% else %}
                <dd itemprop="itemListElement">{{ technique }}</dd>
                {% endif %}
                {% endfor %}
            </dl>
            {% endif %}
        </content>
    </entry>
    {% endfor %}
</service>
