<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include '_header.twig' %}

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title>{{ entity.role|i18n(current_lang) }}</title>
        <!-- TODO: INSERT THE LINK TAG -->
        <updated>{{ "now"|custom_date("Y-m-d\TH:i:s\Z") }}</updated>
        {% if entity.date.end is defined %}
        <published>{{ entity.date.end|custom_date("Y-m-d\TH:i:s\Z") }}</published>
        {% else %}
        <published>{{ entity.date|custom_date("Y-m-d\TH:i:s\Z") }}</published>
        {% endif %}

        <content type="xhtml">
            <div itemtype="http://schema.org/Organization"
                 itemscope="itemscope" class="contact">
                {% if entity.contact.url is defined %}
                <a title="{{ entity.company.name }}" rel="nofollow"
                   href="{{ entity.company.url }}" target="_blank"
                   itemprop="url" class="url">
                    <span itemprop="name" class="fn">
                        {{ entity.company.name }}
                    </span>
                </a>
                {% else %}
                    <span itemprop="name" class="fn">
                        {{ entity.company.name }}
                    </span>
                {% endif %}
                <div itemprop="description">
                    <p>{ { entity.description|i18n(current_lang) }}</p> <!-- TODO: ADD TO MONGODB -->
                </div>
                {% if entity.location is defined %}
                <address itemtype="http://schema.org/PostalAddress"
                         itemscope="itemscope" itemprop="address"
                         class="adr">
                    <span itemprop="postalCode" class="postal-code">
                        {{ entity.company.location.cap }}
                    </span>
                    <span itemprop="addressLocality" class="locality">
                        {{ entity.company.location.city|i18n(current_lang) }}
                    </span>
                    <span itemprop="addressCountry" class="country-name">
                        {{ entity.company.location.country|i18n(current_lang) }}
                    </span>
                </address>
                {% endif %}
            </div>
            {% if entity.technologies is defined %}
            <dl class="first adjacent"
                itemtype="http://schema.org/ItemList"
                itemscope="itemscope">
                <dt itemprop="name">Technologies</dt>
                {% for technology in entity.technologies|keys %}
                {% if loop.last %}
                <dd class="last" itemprop="itemListElement">
                    {{ technology }}
                </dd>
                {% else %}
                <dd itemprop="itemListElement">{{ technology }}</dd>
                {% endif %}
                {% endfor %}
            </dl>
            {% endif %}
            {% if entity.tools is defined %}
            <dl class="adjacent" itemtype="http://schema.org/ItemList"
                itemscope="itemscope">
                <dt itemprop="name">Tools</dt>
                {% for tool in entity.tools|keys %}
                {% if loop.last %}
                <dd class="last" itemprop="itemListElement">{{ tool }}</dd>
                {% else %}
                <dd itemprop="itemListElement">{{ tool }}</dd>
                {% endif %}
                {% endfor %}
            </dl>
            {% endif %}
            {% if entity.methodologies is defined %}
            <dl class="adjacent" itemtype="http://schema.org/ItemList"
                itemscope="itemscope">
                <!-- TODO: JOIN WITH I18N -->
                <dt itemprop="name">Methodologies</dt>
                {% for methodology in entity.methodologies %}
                {% if loop.last %}
                <dd class="last" itemprop="itemListElement">
                    {{ methodology }}
                </dd>
                {% else %}
                <dd itemprop="itemListElement">{{ methodology }}</dd>
                {% endif %}
                {% endfor %}
            </dl>
            {% endif %}
            {% if entity.techniques is defined %}
            <dl class="adjacent" itemtype="http://schema.org/ItemList"
                itemscope="itemscope">
                <!-- TODO: JOIN WITH I18N -->
                <dt itemprop="name">Techniques</dt>
                {% for technique in entity.techniques|keys %}
                {% if loop.last %}
                <dd class="last" itemprop="itemListElement">
                    {{ technique }}
                </dd>
                {% else %}
                <dd itemprop="itemListElement">{{ technique }}</dd>
                {% endif %}
                {% endfor %}
            </dl>
            {% endif %}
        </content>
    </entity>
    {% endfor %}
</entities>
