<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include 'partials/header.twig' %}

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title type="text">{{ entity.role }}</title>
        {% include 'partials/publishing.twig' %}

        <content>
            {% include 'partials/company.twig' with {'input': entity } only %}

            {% include 'partials/activities.twig' with {'input': entity} only %}
            {% include 'partials/technologies.twig' with {'input': entity} only %}
            {% include 'partials/tools.twig' with {'input': entity} only %}
            {% include 'partials/methodologies.twig' with {'input': entity} only %}
            {% include 'partials/techniques.twig' with {'input': entity} only %}

            {% if entity.projects is defined %}
            <projects>
                {% for project in entity.projects %}
                <project>
                    <title type="text">{{ project.name }}</title>
                    {% if project.description is defined %}
                    <summary type="xhtml">{{ project.description }}</summary>
                    {% endif %}
                    <role>{{ project.role }}</role>
                    {% if project.url is defined %}
                    <link href="{{ project.url }}" rel="related" />
                    {% endif %}
                    {% include 'partials/publishing.twig' with {'entity': project} %}

                    {% include 'partials/activities.twig' with {'input': project} only %}
                    {% include 'partials/technologies.twig' with {'input': project} only %}
                    {% include 'partials/tools.twig' with {'input': project} only %}
                    {% include 'partials/methodologies.twig' with {'input': project} only %}
                    {% include 'partials/techniques.twig' with {'input': project} only %}
                </project>
                {% endfor %}
            </projects>
            {% endif %}
        </content>
    </entity>
    {% endfor %}
</entities>
