<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include '_header.twig' %}

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title type="text">{{ entity.role|i18n(current_lang) }}</title>
        <summary type="xhtml">{ { entity.description|i18n(current_lang) }}</summary> <!-- TODO: ADD TO MONGO -->
        <!-- TODO: INSERT THE LINK TAG -->
        <updated>{{ "now"|custom_date("Y-m-d\TH:i:s\Z") }}</updated>
        {% if entity.date.end is defined %}
        <published>{{ entity.date.end|custom_date("Y-m-d\TH:i:s\Z") }}</published>
        {% else %}
        <published>{{ entity.date|custom_date("Y-m-d\TH:i:s\Z") }}</published>
        {% endif %}

        <content>
            <company>
                <title type="text">{{ entity.company.name }}</title>
                {% if entity.company.url is defined %}
                <link rel="related" href="{{ entity.company.url }}" />
                {% endif %}
                {% if entity.location is defined %}
                <address>
                    <postalcode>{{ entity.company.location.cap }}</postalcode>
                    <city>{{ entity.company.location.city|i18n(current_lang) }}</city>
                    <country>{{ entity.company.location.country|i18n(current_lang) }}</city>
                </address>
                {% endif %}
            </company>

            {% if entity.activities is defined %}
            <activities>
                {% for activity in entity.activities|i18n(current_lang) %}
                <activity>{{ activity }}</activity>
                {% endfor %}
            </activities>
            {% endif %}

            {% if entity.technologies is defined %}
            <technologies>
                {% for technology in entity.technologies|keys %}
                <technology>{{ technology }}</technology>
                {% endfor %}
            </technologies>
            {% endif %}

            {% if entity.tools is defined %}
            <tools>
                {% for tool in entity.tools|keys %}
                <tool>{{ tool }}</tool>
                {% endfor %}
            </tools>
            {% endif %}

            {% if entity.methodologies is defined %}
            <methodologies>
                {% for methodology in entity.methodologies|keys %}
                <methodology>{{ methodology }}</methodology>
                {% endfor %}
            </methodologies>
            {% endif %}

            {% if entity.techniques is defined %}
            <techniques>
                {% for technique in entity.techniques|keys %}
                <technique>{{ technique }}</technique>
                {% endfor %}
            </techniques>
            {% endif %}

            {% if entity.projects is defined %}
            <projects>
                {% for project in entity.projects %}
                <project>
                    <title type="text">{{ project.name|i18n(current_lang) }}</title>
                    <summary type="xhtml">{{ project.description|i18n(current_lang) }}</summary>
                    <role>{{ project.role|i18n(current_lang) }}</role>
                    {% if project.url is defined %}
                    <link rel="related" href="{{ project.url }}" />
                    {% endif %}
                    <updated>{{ "now"|custom_date("Y-m-d\TH:i:s\Z") }}</updated>
                    {% if project.end is defined %}
                    <published>{{ entity.date.end|custom_date("Y-m-d\TH:i:s\Z") }}</published>
                    {% else %}
                    <published>{{ entity.date|custom_date("Y-m-d\TH:i:s\Z") }}</published>
                    {% endif %}

                    {% if project.activities is defined %}
                    <activities>
                        {% for activity in project.activities|i18n(current_lang) %}
                        <activity>{{ activity }}</activity>
                        {% endfor %}
                    </activities>
                    {% endif %}

                    {% if project.techniques is defined %}
                    <techniques>
                        {% for technique in project.techniques|keys %}
                        <technique>{{ technique }}</technique>
                        {% endfor %}
                    </techniques>
                    {% endif %}

                    {% if project.technologies is defined %}
                    <technologies>
                        {% for technology in project.technologies|keys %}
                        <technology>{{ technology }}</technology>
                        {% endfor %}
                    </technologies>
                    {% endif %}

                    {% if project.tools is defined %}
                    <tools>
                        {% for tool in project.tools|keys %}
                        <tool>{{ tool }}</tool>
                        {% endfor %}
                    </tools>
                    {% endif %}

                    {% if project.methodologies is defined %}
                    <methodologies>
                        {% for methodology in project.methodologies|keys %}
                        <methodology>{{ methodology }}</methodology>
                        {% endfor %}
                    </methodologies>
                    {% endif %}
                </project>
                {% endfor %}
            </projects>
            {% endif %}
        </content>
    </entity>
    {% endfor %}
</entities>
