<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include '_header.twig' %}

    <entity>
        <id>urn:uuid:{{ app.request.requestUri|md5 }}</id>
        <title>Information</title>
        <summary>{{ entities[main_key].info|i18n(current_lang) }}</summary>
        <!-- TODO: INSERT THE LINK TAG -->
        <updated>{{ "now"|custom_date("Y-m-d\TH:i:s\Z") }}</updated>

        <content type="xhtml">
            <div id="hcard-Fabio-Cicerchia"
                 itemtype="http://schema.org/Person"
                 itemscope="itemscope" class="vcard">
                <img src="/media/images/me.jpg"
                     alt="A photograph of Fabio Cicerchia in black and white"
                     itemprop="image" class="photo"
                     height="475" width="180" />
                <h1>
                    <a title="The URL of my web site" itemprop="name"
                       href="http://www.fabiocicerchia.it" class="fn n">
                        <span class="given-name" lang="it">Fabio</span>
                        <span class="family-name" lang="it">Cicerchia</span> -
                        <span itemprop="jobTitle" class="role">Web Developer</span> <!-- TODO: ADD TO MONGODB -->
                    </a>
                </h1>
                <address itemtype="http://schema.org/PostalAddress"
                         itemscope="itemscope" itemprop="address"
                         class="adr">
                    <span itemprop="addressLocality" class="locality">
                        {{ entities[main_key].location.city|i18n(current_lang) }}
                    </span>
                    <span itemprop="addressCountry" class="country-name">
                        {{ entities[main_key].location.country|i18n(current_lang) }}
                    </span>
                </address>
                <ul>
                    <li>
                        <span itemprop="nationality">
                            {{ entities[main_key].nationality|i18n(current_lang)|capitalize }}
                        </span>
                    </li>
                    <li>
                        <span itemprop="gender">
                            {{ entities[main_key].gender|capitalize }}
                        </span>
                    </li>
                    <li>{{ entities[main_key].birth_day|custom_date("Y-m-d\TH:i:s\Z") }}</li>
                    <li>
                        <span itemprop="telephone" class="tel">
                            {{ entities[main_key].telephone.uk }}
                        </span>
                    </li>
                    <li>
                        <a title="" rel="nofollow me"
                           href="http://{{ app.request.host }}"
                           target="_blank" itemprop="url" class="url">
                            http://{{ app.request.host }}
                        </a>
                    </li>
                    <li class="hide">
                        <a title="The my email address" rel="nofollow me"
                           href="mailto:{{ entities[main_key].contacts.email }}"
                           itemprop="email" class="email">
                            {{ entities[main_key].contacts.email }}
                        </a>
                    </li>
                </ul>
            </div>
        </content>
    </entity>
</entities>
