<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include '_header.twig' %}

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ app.request.requestUri|md5 }}</id>
        <title type="text">{{ entity.name.first_name }} {{ entity.name.last_name }}</title>
        <summary type="xhtml">{{ entity.info }}</summary>
        <updated>{{ "now"|custom_date("Y-m-d\\TH:i:s\\Z") }}</updated>

        <content>
            <address>
                <city>{{ entity.location.city }}</city>
                <country>{{ entity.location.country }}</country>
            </address>

            <maritalstatus>{{ entity.marital_status|capitalize }}</maritalstatus>
            <nationality>{{ entity.nationality|capitalize }}</nationality>
            <gender>{{ entity.gender|capitalize }}</gender>
            <birthday>{{ entity.birth_day|custom_date("Y-m-d\\TH:i:s\\Z") }}</birthday>
            <telephone>{{ entity.telephone.uk }}</telephone>
        </content>
    </entity>
    {% endfor %}
</entities>
