<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include '_header.twig' %}

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ app.request.requestUri|md5 }}</id>
        <title type="text">{{ entity.name.first_name }} {{ entity.name.last_name }}</title>
        <summary type="xhtml">{{ entity.info }}</summary>
        <updated>{{ "now"|custom_date("Y-m-d\\TH:i:s\\Z") }}</updated>

        <content type="xhtml">
            <img src="/media/images/me.jpg"
                 alt="A photograph of {{ entity.name.first_name }} {{ entity.name.last_name }} in black and white"
                 itemprop="image" class="photo"
                 height="475" width="180" />
            <address>
                <city>{{ entity.location.city }}</city>
                <country>{{ entity.location.country }}</country>
            </address>
            <ul>
                <li>
                    <span>{{ entity.marital_status|capitalize }}</span>
                </li>
                <li>
                    <span itemprop="nationality">
                        {{ entity.nationality|capitalize }}
                    </span>
                </li>
                <li>
                    <span itemprop="gender">
                        {{ entity.gender|capitalize }}
                    </span>
                </li>
                <li>{{ entity.birth_day|custom_date("Y-m-d\\TH:i:s\\Z") }}</li>
                <li>
                    <span itemprop="telephone" class="tel">
                        {{ entity.telephone.uk }}
                    </span>
                </li>
                <li>
                    <a title="" rel="nofollow me"
                       href="http://{{ app.request.host }}"
                       target="_blank" itemprop="url" class="url">
                        http://{{ app.request.host }}
                    </a>
                </li>
                <li class="hide">
                    <a title="The my email address" rel="nofollow me"
                       href="mailto:{{ entity.contacts.email }}"
                       itemprop="email" class="email">
                        {{ entity.contacts.email }}
                    </a>
                </li>
            </ul>
        </content>
    </entity>
    {% endfor %}
</entities>
