<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include '_header.twig' %}

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title type="text">{{ entity.language|i18n(current_lang) }}</title>
        <!-- TODO: INSERT THE LINK TAG -->
        <updated>{{ "now"|custom_date("Y-m-d\\TH:i:s\\Z") }}</updated>

        <content>
            <skills>
                {% for knowledge, level in entity.knowledge %}
                <skill>
                    <title type="text">{{ knowledge|capitalize }}</title><!-- TODO: TRANSLATE IT -->
                    <level>{{ level }}</level>
                </skill>
                {% endfor %}
            </skills>
        </content>
    </entity>
    {% endfor %}
</entities>
