<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    <id>urn:uuid:{{ app.request.requestUri|md5 }}</id>
    <title type="text">Fabio Cicerchia API - Language</title>
    <link rel="self"
          href="http://{{ app.request.host }}{{ app.request.requestUri }}" />
    <link rel="describedby"
          href="http://{{ app.request.host }}/api.php/service-expression-syntax"
          type="plain/txt" />
    <link rel="author" href="http://{{ app.request.host }}" />

    <updated>{{ "now"|date("Y-m-d") }}T{{ "now"|date("Y-m-d") }}Z</updated>
    <author>
        <name>Fabio Cicerchia</name>
        <uri>http://www.fabiocicerchia.it</uri>
        <email>info@fabiocicerchia.it</email>
    </author>
    <rights>Copyright (c) {{ "now"|date("Y") }}, Fabio Cicerchia</rights>

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title>{{ entity.language }}</title>
        <!-- TODO: INSERT THE LINK TAG -->
        <updated>{{ "now"|date("Y-m-d") }}T{{ "now"|date("H:i:s") }}Z</updated>

        <content type="xhtml">
            {% for knowledge, level in entity.knowledge %}
            <dl class="adjacent" itemtype="http://schema.org/ItemList"
                itemscope="itemscope">
                <dt itemprop="name">{{ knowledge }}</dt>
                <dd class="last" itemprop="itemListElement">{{ level }}</dd>
            </dl>
            {% endfor %}
        </content>
    </entity>
    {% endfor %}
</entities>
