<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include 'partials/header.twig' %}

    {% for entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title type="text">{{ entity.language }}</title>
        <updated>{{ "now"|date("Y-m-d\\TH:i:s\\Z") }}</updated>

        <content>
            <code>
                <short>{{ entity.code|preg_replace("/_.*/", "") }}</short>
                <long>{{ entity.code }}</long>
            </code>
            <skills>
                {% for knowledge, level in entity.knowledge %}
                <skill>
                    <title type="text">{{ knowledge|capitalize }}</title>
                    <level>{{ level }}</level>
                </skill>
                {% endfor %}
            </skills>
        </content>
    </entity>
    {% endfor %}
</entities>
