<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://www.w3.org/2005/Atom">
    <id>urn:uuid:{{ app.request.requestUri|md5 }}</id>
    <title type="text">Fabio Cicerchia API - Entry Point</title>
    <link rel="self" href="http://{{ app.request.host }}{{ app.request.requestUri }}" />
    <link rel="describedby"
          href="http://{{ app.request.host }}/api.php/service-expression-syntax"
          type="plain/txt" />
    <link rel="author" href="http://{{ app.request.host }}" />

    <updated>{{ "now"|date("Y-m-d") }}T{{ "now"|date("Y-m-d") }}Z</updated>
    <author>
        <name>Fabio Cicerchia</name>
        <uri>http://www.fabiocicerchia.it</uri>
        <email>info@fabiocicerchia.it</email>
    </author>
    <rights>Copyright (c) {{ "now"|date("Y") }}, Fabio Cicerchia</rights>

    <entrypoint>
        <id>urn:uuid:{{ "root"|md5 }}</id>
        <title>Entry Point</title>
        <link rel="self" href="http://{{ app.request.host }}/api.php/"
              type="application/atom+xml" title="Entry Point" />
        <updated>{{ "now"|date("Y-m-d") }}T{{ "now"|date("H:i:s") }}Z</updated>
    </entrypoint>
    {% for route in routes %}
    <entrypoint>
        <id>urn:uuid:{{ route|md5 }}</id>
        <title>{{ route|capitalize }}</title>
        <link rel="service"
              href="http://{{ app.request.host }}/api.php/{{ route }}"
              type="application/atom+xml"
              title="{{ route|capitalize }}" />
        <updated>{{ "now"|date("Y-m-d") }}T{{ "now"|date("H:i:s") }}Z</updated>
    </entrypoint>
    {% endfor %}
</service>
