<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include '_header.twig' %}

    {% for main_key, entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title>{{ main_key|capitalize }}</title>
        <updated>{{ "now"|custom_date("Y-m-d") }}T{{ "now"|custom_date("H:i:s") }}Z</updated>

        <content type="xhtml">
            {% for level, skills in entity %}
            {% if level != '_id' %}
            <dl class="adjacent" itemtype="http://schema.org/ItemList"
                itemscope="itemscope">
                <dt itemprop="name">{{ level|capitalize }} proficiency</dt>
                {% for skill in skills %}
                <dd itemprop="itemListElement">{{ skill|i18n(current_lang) }}</dd>
                {% endfor %}
            </dl>
            {% endif %}
            {% endfor %}
        </content>
    </entity>
    {% endfor %}
</entities>
