<?xml version="1.0" encoding="UTF-8"?>
<entities xmlns="http://www.w3.org/2005/Atom">
    {% include '_header.twig' %}

    {% for main_key, entity in entities %}
    <entity>
        <id>urn:uuid:{{ entity._id }}</id>
        <title type="text">{{ main_key|capitalize }}</title>
        <updated>{{ "now"|custom_date("Y-m-d") }}T{{ "now"|custom_date("H:i:s") }}Z</updated>

        <content>
            <skills>
            {% for skill in entity.list %}
                <skill>
                    <title type="text">{{ skill.name|i18n(current_lang) }}</title>
                    <level>{{ skill.proficiency|capitalize }} proficiency</level>
                </skill>
            {% endfor %}
            </skills>
        </content>
    </entity>
    {% endfor %}
</entities>
