<?xml version="1.0" encoding="UTF-8"?>
<service xmlns="http://www.w3.org/2005/Atom">
    <id>urn:uuid:{{ main_id }}</id>
    <title type="text">Fabio Cicerchia API - Skill</title>
    <link rel="self" href="http://www.fabiocicerchia.it/api.php/skill" />
    <link rel="describedby" href="http://www.fabiocicerchia.it/api.php/service-expression-syntax" type="plain/txt" />
    <link rel="author" href="http://www.fabiocicerchia.it" />

    <updated>{{ "now"|date("Y-m-d") }}T{{ "now"|date("Y-m-d") }}Z</updated>
    <author>
        <name>Fabio Cicerchia</name>
        <uri>http://www.fabiocicerchia.it</uri>
        <email>info@fabiocicerchia.it</email>
    </author>
    <rights>Copyright (c) {{ "now"|date("Y") }}, Fabio Cicerchia</rights>

    {% for main_key, entry in entries %}
    <entry>
        <id>urn:uuid:{{ entry._id }}</id>
        <title>{{ main_key|capitalize }}</title>
        <updated>{{ "now"|date("Y-m-d") }}T{{ "now"|date("H:i:s") }}Z</updated>

        <content type="xhtml">
            {% for level, skills in entry %}
            {% if level != '_id' %}
            <dl class="adjacent" itemtype="http://schema.org/ItemList" itemscope="itemscope">
                <dt itemprop="name">{{ level|capitalize }} proficiency</dt>
                {% for skill in skills %}
                <dd itemprop="itemListElement">{{ skill }}</dd>
                {% endfor %}
            </dl>
            {% endif %}
            {% endfor %}
        </content>
    </entry>
    {% endfor %}
</service>
